{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Luck Wheel</title>
    <link rel="stylesheet" href="../../static/css/whhel.css">
</head>
<body>
    <center>
    <img class="rot" src="../../static/images/pngwing.com.png"/><br>
    <div class="ruletka">
        <div class="ran">
            <span>{{number}}</span>
        </div>
        <div class="choise">
            
            <form action="/random" method="post"> {% csrf_token %}
            {% for i in vybor %}
                <div style="width: 50px; border: solid black 1px; display: inline-block;">
                    <input type="radio" class="num" name="ch" id="{{i}}" value="{{ i }}"> <span for="{{i}}">{{ i }}</span>
                </div>
            {% if i == 17 or i == 23 or i == 31 %}
                <br>
            {% endif %}
            {% endfor %}
            <br> <br>
            <input type="submit" value="START">
            </form>
        </div>
    </div>
    </center>
    
</body>
</html>